// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-page{
  display: flex;
  justify-content: center;

  .book-index {
    margin: 20px 5px 10px 20px;
    width: 625px;


    h3 {
      color: #382110;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid lightgrey;
      margin-bottom: 10px;
    }

     ul {
       display: flex;
       flex-wrap: wrap;

       a {
       margin: 5px;

       img {
         width: 115px;
         margin-left: auto;
         margin-right: auto;
         height: 180px;
         bottom: 0;
       }
     }
     .book-image-link {
       position: relative;
       .book-pop-up {
         padding: 10px;
         display: block;
         position: absolute;
         font-size: 12px;
         line-height: 18px;
         z-index: 5;
         height: auto;
         width: 200px;
         color: #333333;
         background-color: white;
         border: 6px solid #f6e3d4;
         border-radius: 10px;
         top: 30px;
         left: 120px;
       }
     }
   }
 }

 a {
   margin: 25px 0 0 15px;
   text-decoration: none;
   color: #00635d;
   font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   height: 16px;

   &:hover {
     text-decoration: underline;
   }
 }
}
