
.shelf-button {
  margin-top: 7px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  left: 11px;
  position: relative;
  font-size: 13px;

  .curr-shelf-button {
    width: 110px;
    height: 28px;
    padding: 6px 0 6px 8px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    text-align: left;
  }

  .want-to-read-button {
    width: 110px;
    background-color: #3d9363;
    color: #fff;
    height: 28px;
    padding: 6px 0 6px 8px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    text-align: left;
  }

  .drop-button-list {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    left: 107px;

    .shelf-select-button {
      width: 27px;
      height: 28px;
      color: white;
      cursor: pointer;
      padding-right: 5px;
      background-color: #3d9363;
      border-radius: 0 5px 5px 0;

      span {
        position: relative;
        right: 6px;
        font-size: 20px;
      }
    }

    .shelf-drop {
      padding: 7px;
      min-width: 170px;
      min-height: 150px;
      border: 1px solid #ccc;
      box-shadow: 0px 3px 4px -3px rgba(0,0,0,0.5);
      position: relative;
      right: 120px;
      z-index: 5;
      border-radius: 3px;


      .main-shelves{
        display: flex;
        flex-direction: column;

        button {
          border: 0;
          cursor: pointer;
          font-size: 13px;
          text-align: left;

          &:hover {
            background-color: rgb(250, 250, 245);
          }
        }

        .check-row {
          cursor: pointer;
          position: relative;
          left: 4px;

          &:hover {
            background-color: rgb(250, 250, 245);
          }

          input[type=checkbox] {
            cursor: pointer;
          }
        }
      }
    }
  }
  .add-shelf-form{
    margin-top: 10px;
    padding-top: 7px;
    border-top: 1px solid lightgrey;

    button {
      width: 175px;
      &:hover {
        background-color: rgb(250, 250, 245);
      }
    }

    input[type=submit] {
      margin-left: 2px;

      &:hover {
        background-color: rgb(250, 250, 245);
        border-radius: 4px;
      }
    }

  }
}
