.my-shelves {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  width:90%;

  a {
    text-decoration: none;
    color: #00635d;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    &:hover{
      text-decoration: underline;
    }
  }

  .header-container {
    width: 100%;
    max-width: 812px;
    border-bottom: 1px solid rgb(235, 232, 213);
    padding-bottom: 15px;

    .sidebar-header{
      font-size: 20px;
      line-height: 1.3;
      font-family: "Merriweather", Georgia, "Times New Roman", serif;
      font-weight: bold;
    }
  }

  .main-content-shelves{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 812px;

    .shelves-sidebar {
      display: flex;
      flex-direction: column;
      margin: 10px;
      position: relative;
      right: 10px;
      flex-grow: 1;
      max-width: 190px;

      .add-shelf-form {
        margin-top: 7px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(235, 232, 213);

        button {
          margin-top: 8px;
          padding: 4px 12px;
          font-size: 11px;
          font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
          border: 1px solid #D6D0C4;
          border-radius: 3px;
          background-color: #F4F1EA;

          &:hover{
            cursor: pointer;
            background-color: #ede6d6;
          }
        }

        form {
          h3 {
            font-weight: bold;
            vertical-align: baseline;
            font-size: 14px;
            text-align: left;
            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 18px;
          }
          input[type=text] {
          padding: 4px 12px;
          font-size: 11px;
          font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
          border: 1px solid #D6D0C4;
          border-radius: 3px;
          background-color: #F4F1EA;

            &:hover{
              cursor: pointer;
              background-color: #ede6d6;
            }
          }
        }
      }
    }

    .current {
      color: grey;
    }

    .third {
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(235, 232, 213);
      margin-bottom: 7px;
    }

    .book-list {
      font-size: 14px;
      margin: 20px 0 0 15px;
      border-collapse: collapse;
      table-layout: fixed;
      flex-grow: 1;

      thead {
        font-weight: bold;
        font-size: 12px;

        th {
          padding: 10px 0px;
          text-align: left;
          vertical-align: top;
          border-bottom: 2px solid rgb(235, 232, 213);
        }
      }

      td {
        padding: 10px 10px 10px 0;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid rgb(235, 232, 213);
        vertical-align: top;
      }
      img {
        width: 50px;
      }
    }
    h3 {
      margin-top: 30px;
      text-align: center;
      flex-grow: 1;
    }
  }
}
