.splash {
  width: 100%;
  display: flex;
  flex-direction: column;

  .upper{
    display: flex;
    background-image: image-url('books.jpg');
    height: 310px;
    .welcome {
      flex-grow: 4;

      .headline {
        background-image: image-url('headline.png');
        height: 116px;
        width: 446px;
        margin: auto;
        margin-top: 56px;
      }
    }
    .splash-signup {
      flex-grow: 1;
      padding-top: 40px;

      p {
        font-size: 18px;
        color: #000;
      }

      a {
        padding: 9px;
        border-radius: 4px;
        background-color: #fdd05f;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: #333333;

        &:hover{
          background-color: #FFD56D;
        }
      }
    }
  }

  .lower {
    display: flex;
    justify-content: center;

    div {
      max-width: 300px;
      margin: 0 20px;
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }

}
