// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  box-shadow: 1px 2px rgba(0,0,0,0.15);
  background-color: rgb(244, 241, 234);

  .profile-dropdown {

    .dropdown-button{
      height: 52px;
      width:46px;
      cursor: pointer;

      &:hover{
        background-color: #382110;
      }

      img {
        border-radius: 16px;
        border: 1px solid #D8D8D8;
        height: 30px;
        width: 30px;
        margin-top: 9px;
        margin-left: 7px;
      }
    }


    .profile-dropdown-ul {
      position: absolute;
      background-color: #FFFFFF;
      width: 250px;
      display: inline-block;
      padding: 8px 0px;
      z-index: 1;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
      right: 1px;

      .userName {
        color: #333333;
        font-size: 14px;
        line-height: 32px;
        padding: 0 16px;
        font-weight: bold;
      }

      .signout {
        border-top: 1px solid #D8D8D8;
        color: #333333;
        font-size: 12px;
        line-height: 32px;
        padding: 0 16px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .toggleOn{
    background-color: #382110;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  .nav-right {
    display: flex;

    a {
      display: block;
      line-height: 52px;
      color: #382110;
      text-decoration: none;
      padding: 0px 30px 0px 30px;
      font-size: 15px;

      &:hover{
        background-color: #382110;
        color: white;
      }
    }
    .header-button {
      display: block;
      line-height: 52px;
      color: #382110;
      text-decoration: none;
      padding: 0px 30px 0px 30px;
      font-size: 15px;
      background: transparent;
      border: none;

      &:hover{
        background-color: #382110;
        color: white;
      }
    }
  }
}
.logo-link {
  margin: 3px;
  font-size: 35px;
  color: #382110;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.8;
  text-decoration: none;
  max-height: 52;

  .logo-link-left {
    font-weight: 100;
  }

}
.my-books-link {
  display: inline-block;
  line-height: 52px;
  color: #382110;
  text-decoration: none;
  padding: 0px 25px 0px 25px;
  font-size: 16px;
  margin-left: 10px;

  &:hover{
    background-color: #382110;
    color: white;
  }
}

.session-form-backround {
  background-image: image-url('backround.png');
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  .logo-link {
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
  }
}

.session-form-container {
  display: flex;
  justify-content: center;
  width: 620px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  .session-form-box {
    background-color: white;
    width: 100%;
    border: 1px solid #d0d0c8;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #d0d0c8;
    margin: auto;
    margin-top: 17px;
    padding: 25px 45px 25px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .errors-list {
      background-color: #fff7c9;
      color: #333;
      font-weight: bold;
      font-size: 12px;
      padding: 7px 14px;
      box-shadow: 0px 1px 1px 0px #d0d0c8;
      text-align: center;
      line-height: 1.4;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      // color: #382110;
    }

    p {
      text-align: center;
      font-size: 16px;
    }

    .session-form {

      label{
        font-size: 12px;
        font-weight: bold;
      }
      .session-form-input{
        width: 300px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 4px;
        outline-color: #D6D0C4;

        &:focus {
          background-color: rgb(250, 250, 250);
        }
      }
      ::placeholder {
        color: lightgrey;
      }
      .session-buttons{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 300px;

        .toggle-message {
          margin-left: 24px;
          font-size: 12px;
          text-align: left;
        }

        a {
          font-size: 12px;
          margin-left: 5px;
          text-decoration: none;
          color: #00635d;
          font-weight: normal;

          &:hover {
            text-decoration: underline;
          }
        }

        button {
          cursor: pointer;
        }

        .session-submit {
          background-color: #F4F1EA;
          line-height: 1;
          text-decoration: none;
          border: 1px solid #D6D0C4;
          border-radius: 3px;
          font-size: 16px;
          padding: 12px 24px;

          &:hover {
            background-color: #ede6d6;
          }
        }
      }
      .signin {
        justify-content: center;
        input{
          order: 1;
          margin-right: 2px;
        }
        button{
          order: 2;
          margin-left: 2px;
        }
        .toggle-message{
          order: 3;
        }
        a {
          order: 4;
        }
      }
    }
  }
}
